<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Guitar Tunning Application</title>
  </head>
  <body>
    <div>
      <h1> This is a documentation for the application </h1>
      <h3>Some Endpoints:</h3>
      <p>/tunings : List of all current avalable tuning presets</p>
      <p>/song/<string:name> : Get infomation of a Song</p>
      <p>/tuning/<int:tuning_id>: Get the tuning Infomation by ID</p>
      <p>/selected" : Current selected Tuning Preset</p>
      <h3>Besides, there are other endpoint that currently has no use (but it is already
      implemented)</h3>
      <p>/songs : List of all songs avalable</p>
      <p>/register: Register new user</p>
      <p>/user/<int:user_id>: Get User Infomation</p>
      <p>/login: User Login</p>
      <p>/refresh: Refresh Token</p>
      <p>/logout: User Logout</p>
    </div>
  </body>
  </html>
