 form a {
  margin-left: 5px;
}


span {
  color: red;
}


.container-fluid {
  margin-bottom: 10px;
  margin-top: 10px;
}


.menu-bar {
  margin-bottom: 20px;
}

.list-string {
  margin-top: 20px;
}
